<a href="https://colab.research.google.com/github/lovvmg/mini-project-with-SIC/blob/main/tugas_SIC_list_%26_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dictionary nama dan nilai math

In [ ]:
nama_siswa = ['sasa','lany','riki','ilham','ningsih','luna','enzy']

nilai_siswa = {
    "sasa":89,
    "lany": 88,
    "riki":68,
    "ilham":58,
    "ningsih":77,
    "luna" : 56,
    "enzy" : 69,
}

{'sasa': 89, 'lany': 88, 'riki': 68, 'ilham': 58, 'ningsih': 77, 'luna': 56, 'enzy': 69}

add item

In [ ]:
nama_siswa = ['sasa','lany','riki','ilham','ningsih','luna','enzy']
nama_siswa.append('indri')
nama_siswa.remove('luna')
print(nama_siswa)

['sasa', 'lany', 'riki', 'ilham', 'ningsih', 'enzy', 'indri']

ambil yg pertama dan terakhir, 3 nama terakhir dengan slicing

In [ ]:
print(nama_siswa[0])
print(nama_siswa[-1])

print(nama_siswa[4::1])

sasa
indri
['ningsih', 'enzy', 'indri']

memunculkan index dan nama siswa

In [ ]:
for index, nama in enumerate(nama_siswa):
  print(f"index : {index}, nama: {nama} ")

index : 0, nama: sasa
index : 1, nama: lany
index : 2, nama: riki
index : 3, nama: ilham
index : 4, nama: ningsih
index : 5, nama: enzy
index : 6, nama: indri

ubah nilai siswa, hapus data siswa lain, ganti key baru

In [ ]:
nilai_siswa = {
    "sasa":89,
    "lany": 88,
    "riki":68,
    "ilham":58,
    "ningsih":77,
    "luna" : 56,
    "enzy" : 69,
}

nilai_siswa["ilham"] = 90
del nilai_siswa["ningsih"]
nilai_siswa["sinta"] = nilai_siswa.pop("enzy")

print(nilai_siswa)

{'sasa': 89, 'lany': 88, 'riki': 68, 'ilham': 90, 'luna': 56, 'sinta': 69}